USE [master]
GO
/****** Object:  Database [OSKPMDb]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE DATABASE [OSKPMDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OSKPMDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OSKPMDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OSKPMDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OSKPMDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OSKPMDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OSKPMDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NULL,
	[PhNumber] [nvarchar](30) NULL,
	[PinHash] [nvarchar](512) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastActive] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CredentialAccesses]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CredentialAccesses](
	[CredentialAccessId] [uniqueidentifier] NOT NULL,
	[CredentialId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PermissionLevel] [nvarchar](50) NOT NULL,
	[ExpireAt] [datetime2](7) NOT NULL,
	[SharedAt] [datetime2](7) NOT NULL,
	[SharedByUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CredentialAccesses] PRIMARY KEY CLUSTERED 
(
	[CredentialAccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credentials]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials](
	[CredentialId] [uniqueidentifier] NOT NULL,
	[CredentialName] [nvarchar](50) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastEditedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Credentials] PRIMARY KEY CLUSTERED 
(
	[CredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCards]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCards](
	[CreditDebitId] [uniqueidentifier] NOT NULL,
	[CredentialId] [uniqueidentifier] NOT NULL,
	[CardHolderName] [nvarchar](100) NOT NULL,
	[CardNumberHash] [nvarchar](512) NOT NULL,
	[ExpiryMonth] [nvarchar](2) NOT NULL,
	[ExpiryYear] [nvarchar](2) NOT NULL,
	[CvvHash] [nvarchar](512) NOT NULL,
	[PinHash] [nvarchar](512) NOT NULL,
	[BillingAddress] [nvarchar](100) NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[EditedAt] [datetime2](7) NULL,
	[EditorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CreditCards] PRIMARY KEY CLUSTERED 
(
	[CreditDebitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCardsHistorys]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCardsHistorys](
	[CreditDebitHistoryId] [uniqueidentifier] NOT NULL,
	[CreditDebitId] [uniqueidentifier] NOT NULL,
	[CardHolderName] [nvarchar](100) NOT NULL,
	[CardNumberHash] [nvarchar](512) NOT NULL,
	[ExpiryMonth] [nvarchar](2) NOT NULL,
	[ExpiryYear] [nvarchar](2) NOT NULL,
	[CvvHash] [nvarchar](512) NOT NULL,
	[PinHash] [nvarchar](512) NOT NULL,
	[BillingAddress] [nvarchar](100) NULL,
	[Notes] [nvarchar](200) NULL,
	[ChangedByUserId] [uniqueidentifier] NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[ChangeType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CreditCardsHistorys] PRIMARY KEY CLUSTERED 
(
	[CreditDebitHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditDebitCardAccesses]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditDebitCardAccesses](
	[CreditDebitAccessId] [uniqueidentifier] NOT NULL,
	[CreditDebitId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PermissionLevel] [nvarchar](50) NOT NULL,
	[ExpireAt] [datetime2](7) NOT NULL,
	[SharedAt] [datetime2](7) NOT NULL,
	[SharedByUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CreditDebitCardAccesses] PRIMARY KEY CLUSTERED 
(
	[CreditDebitAccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityKeyAccesses]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityKeyAccesses](
	[SecurityKeyAccessId] [uniqueidentifier] NOT NULL,
	[SecurityKeyId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PermissionLevel] [nvarchar](50) NOT NULL,
	[ExpireAt] [datetime2](7) NOT NULL,
	[SharedAt] [datetime2](7) NOT NULL,
	[SharedByUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SecurityKeyAccesses] PRIMARY KEY CLUSTERED 
(
	[SecurityKeyAccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityKeys]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityKeys](
	[SecurityKeyId] [uniqueidentifier] NOT NULL,
	[CredentialId] [uniqueidentifier] NOT NULL,
	[Label] [nvarchar](100) NOT NULL,
	[PinHash] [nvarchar](512) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[EditedAt] [datetime2](7) NULL,
	[EditorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SecurityKeys] PRIMARY KEY CLUSTERED 
(
	[SecurityKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityKeysHistorys]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityKeysHistorys](
	[SecurityKeyHistoryId] [uniqueidentifier] NOT NULL,
	[SecurityKeyId] [uniqueidentifier] NOT NULL,
	[Label] [nvarchar](100) NOT NULL,
	[PinHash] [nvarchar](512) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[ChangedByUserId] [uniqueidentifier] NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[ChangeType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SecurityKeysHistorys] PRIMARY KEY CLUSTERED 
(
	[SecurityKeyHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebCredentialAccesses]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebCredentialAccesses](
	[WebCredentialAccessId] [uniqueidentifier] NOT NULL,
	[WebCredentialId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PermissionLevel] [nvarchar](50) NOT NULL,
	[ExpireAt] [datetime2](7) NOT NULL,
	[SharedAt] [datetime2](7) NOT NULL,
	[SharedByUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WebCredentialAccesses] PRIMARY KEY CLUSTERED 
(
	[WebCredentialAccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebCredentials]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebCredentials](
	[WebCredentialId] [uniqueidentifier] NOT NULL,
	[CredentialId] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](200) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[EditedAt] [datetime2](7) NULL,
	[EditorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_WebCredentials] PRIMARY KEY CLUSTERED 
(
	[WebCredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebCredentialsHistorys]    Script Date: 4/18/2026 11:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebCredentialsHistorys](
	[WebCredentialHistoryId] [uniqueidentifier] NOT NULL,
	[WebCredentialId] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](200) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[ChangedByUserId] [uniqueidentifier] NULL,
	[ChangedAt] [datetime2](7) NULL,
	[ChangeType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WebCredentialsHistorys] PRIMARY KEY CLUSTERED 
(
	[WebCredentialHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260408001639_initial', N'10.0.5')
GO
INSERT [dbo].[CredentialAccesses] ([CredentialAccessId], [CredentialId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'fe1c5868-46de-4b07-bbef-3ff0ad96ec8c', N'6cc9fe64-d424-4c1c-b57f-932b9ee7b582', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'Edit', CAST(N'2027-04-19T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-19T05:34:46.2638399' AS DateTime2), N'3c485703-9014-4f42-b195-08de9dcd90cd')
INSERT [dbo].[CredentialAccesses] ([CredentialAccessId], [CredentialId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'c810cd01-ab31-4104-9b20-650d36ba3395', N'86c8e30b-10b6-4b73-b0da-dc8b5f77b382', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'Edit', CAST(N'2026-07-07T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-19T06:03:35.1586899' AS DateTime2), N'c60b5efb-75b9-45d8-3e14-08de9dd93f02')
INSERT [dbo].[CredentialAccesses] ([CredentialAccessId], [CredentialId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'f47735b4-ebb1-4776-8af6-d10709c61b12', N'e89e5833-70b4-41c8-94cb-e4dff8e7f312', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'Edit', CAST(N'2027-04-19T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-19T05:01:53.7114383' AS DateTime2), N'29016f34-14b8-476b-b193-08de9dcd90cd')
GO
INSERT [dbo].[Credentials] ([CredentialId], [CredentialName], [UserId], [CreatedAt], [LastEditedAt]) VALUES (N'fa247bdc-af86-4f69-a9d4-02d5cf62e224', N'Family', N'f9cb5e81-cc4e-4eaf-f960-08de95891dc5', CAST(N'2026-04-08T16:09:01.7372908' AS DateTime2), CAST(N'2026-04-08T16:09:08.6271687' AS DateTime2))
INSERT [dbo].[Credentials] ([CredentialId], [CredentialName], [UserId], [CreatedAt], [LastEditedAt]) VALUES (N'd357604f-9ac9-4e50-a53d-641db3522371', N'My items', N'01185467-0f5b-4d69-beb2-08de9c35b8b1', CAST(N'2026-04-17T04:01:32.6910334' AS DateTime2), CAST(N'2026-04-17T04:03:52.9276180' AS DateTime2))
INSERT [dbo].[Credentials] ([CredentialId], [CredentialName], [UserId], [CreatedAt], [LastEditedAt]) VALUES (N'936a2361-a7a4-4778-8998-756fa95a5b61', N'My items', N'29016f34-14b8-476b-b193-08de9dcd90cd', CAST(N'2026-04-19T05:05:16.3960677' AS DateTime2), CAST(N'2026-04-19T05:05:16.3960682' AS DateTime2))
GO
INSERT [dbo].[CreditDebitCardAccesses] ([CreditDebitAccessId], [CreditDebitId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'5422eac6-547a-46ad-a20b-6ff0d4c3b909', N'2fbccd1c-58a0-4604-98a1-38beed551892', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'Edit', CAST(N'2027-04-17T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-17T04:02:47.9480192' AS DateTime2), N'01185467-0f5b-4d69-beb2-08de9c35b8b1')
GO
INSERT [dbo].[SecurityKeyAccesses] ([SecurityKeyAccessId], [SecurityKeyId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'1ee7109d-7f8e-4ecf-96ad-3f0c677da178', N'43e5bd9b-dfc2-47d3-9096-35983452a2ce', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'Edit', CAST(N'2027-04-19T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-19T05:33:19.1182574' AS DateTime2), N'3c485703-9014-4f42-b195-08de9dcd90cd')
INSERT [dbo].[SecurityKeyAccesses] ([SecurityKeyAccessId], [SecurityKeyId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'ef443fbd-455f-4543-a87d-fb96249d3f0d', N'5c419db1-750b-4dae-b1a9-8e0d72c0362f', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'View', CAST(N'2027-04-19T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-19T06:04:49.8723066' AS DateTime2), N'c60b5efb-75b9-45d8-3e14-08de9dd93f02')
GO
INSERT [dbo].[SecurityKeys] ([SecurityKeyId], [CredentialId], [Label], [PinHash], [Notes], [CreatedAt], [CreatorId], [EditedAt], [EditorId]) VALUES (N'43e5bd9b-dfc2-47d3-9096-35983452a2ce', N'fdbb0414-9e69-4708-9c56-8b4a5c76eee2', N'safe code', N'cuK/vbpYELuh7Rr5HFP7Gw==:iaqN4QRVEMbc+qhO/z211A==', N'sad', CAST(N'2026-04-19T05:32:56.7406192' AS DateTime2), N'3c485703-9014-4f42-b195-08de9dcd90cd', NULL, NULL)
INSERT [dbo].[SecurityKeys] ([SecurityKeyId], [CredentialId], [Label], [PinHash], [Notes], [CreatedAt], [CreatorId], [EditedAt], [EditorId]) VALUES (N'dc16364c-88f7-4215-81fe-3e8c11a8ba4e', N'6bf005f2-5b12-418f-ad65-c63956d822bb', N'shop floor', N'qfWTLyr+l4sZtdgO6fGpIA==:9wI9+Rx1hhWvzqEecFAGGQ==', N'u know', CAST(N'2026-04-19T05:20:32.4613750' AS DateTime2), N'd7fc6db4-9ab0-4670-b194-08de9dcd90cd', CAST(N'2026-04-19T05:21:54.3363524' AS DateTime2), N'd7fc6db4-9ab0-4670-b194-08de9dcd90cd')
INSERT [dbo].[SecurityKeys] ([SecurityKeyId], [CredentialId], [Label], [PinHash], [Notes], [CreatedAt], [CreatorId], [EditedAt], [EditorId]) VALUES (N'5d9db076-73cb-4be1-831b-5f643855e1f5', N'86c8e30b-10b6-4b73-b0da-dc8b5f77b382', N'home door', N'w2MPn9FlajcXgVPGWp406A==:tE/B5okvTdcagU4mM7CnjA==', N'open the door', CAST(N'2026-04-19T06:03:14.6742496' AS DateTime2), N'c60b5efb-75b9-45d8-3e14-08de9dd93f02', NULL, NULL)
GO
INSERT [dbo].[SecurityKeysHistorys] ([SecurityKeyHistoryId], [SecurityKeyId], [Label], [PinHash], [Notes], [ChangedByUserId], [ChangedAt], [ChangeType]) VALUES (N'cbacd681-8df2-475e-868a-2d8f28142779', N'51aeef4a-69f8-4390-95cc-ab1aae9527b1', N'house key and code', N'KBuGWfvgvMuWmQCdJ5mixw==:R2HsnaS694LgU9P7OsDA2Q==', N'Under the black rock', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', CAST(N'2026-04-17T03:20:28.3962082' AS DateTime2), N'Update')
INSERT [dbo].[SecurityKeysHistorys] ([SecurityKeyHistoryId], [SecurityKeyId], [Label], [PinHash], [Notes], [ChangedByUserId], [ChangedAt], [ChangeType]) VALUES (N'0d04542a-baa8-4468-91cc-57da27a61398', N'dc16364c-88f7-4215-81fe-3e8c11a8ba4e', N'shop floor', N'qfWTLyr+l4sZtdgO6fGpIA==:9wI9+Rx1hhWvzqEecFAGGQ==', N'', N'd7fc6db4-9ab0-4670-b194-08de9dcd90cd', CAST(N'2026-04-19T05:21:54.2777327' AS DateTime2), N'Update')
INSERT [dbo].[SecurityKeysHistorys] ([SecurityKeyHistoryId], [SecurityKeyId], [Label], [PinHash], [Notes], [ChangedByUserId], [ChangedAt], [ChangeType]) VALUES (N'70fa5b52-1df5-4029-a268-d8ce6b2c0c3d', N'5c419db1-750b-4dae-b1a9-8e0d72c0362f', N'dog', N'sP0hoDn9A3sANpBZRyps7Q==:/TYyeTw9aom72+rvaRJk9w==', N'leash', N'c60b5efb-75b9-45d8-3e14-08de9dd93f02', CAST(N'2026-04-19T06:04:30.1793908' AS DateTime2), N'Update')
GO
INSERT [dbo].[WebCredentialAccesses] ([WebCredentialAccessId], [WebCredentialId], [UserId], [PermissionLevel], [ExpireAt], [SharedAt], [SharedByUserId]) VALUES (N'13468205-baa4-4c37-9c90-9d60294b45ed', N'3e3b5a2c-62f5-4308-ad90-352aba704620', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', N'Edit', CAST(N'2027-04-17T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-17T04:09:29.3146184' AS DateTime2), N'e8d1a6a9-7a69-49e9-beb3-08de9c35b8b1')
GO
INSERT [dbo].[WebCredentials] ([WebCredentialId], [CredentialId], [Url], [Username], [PasswordHash], [Notes], [CreatedAt], [CreatorId], [EditedAt], [EditorId]) VALUES (N'251ec5b0-7c88-4940-ad25-2d95030e746e', N'6ae96da5-c67c-4eec-9633-d0df3da9913e', N'https://battlenet.com', N'battlenet', N'aS8gw2wrUxmXNppFiCNVMA==:rkRFF70OqdD6WK0plPE9EA==', N'Battlenet launcher login', CAST(N'2026-04-08T17:53:30.2005814' AS DateTime2), N'76089de4-9d84-4d9c-f962-08de95891dc5', CAST(N'2026-04-08T17:53:39.2241337' AS DateTime2), N'76089de4-9d84-4d9c-f962-08de95891dc5')
INSERT [dbo].[WebCredentials] ([WebCredentialId], [CredentialId], [Url], [Username], [PasswordHash], [Notes], [CreatedAt], [CreatorId], [EditedAt], [EditorId]) VALUES (N'3e3b5a2c-62f5-4308-ad90-352aba704620', N'bdf7bbd1-c612-49da-9e73-e47f33504371', N'honsit.com', N'hensink215@gmail.com', N'icVtryxZc2SLgDJxqlhMGA==:2v5ruDu7gJ5nUkBqs3OAVw==', N'project gege 2', CAST(N'2026-04-17T04:09:13.3223927' AS DateTime2), N'e8d1a6a9-7a69-49e9-beb3-08de9c35b8b1', CAST(N'2026-04-19T06:20:44.7304258' AS DateTime2), N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5')
INSERT [dbo].[WebCredentials] ([WebCredentialId], [CredentialId], [Url], [Username], [PasswordHash], [Notes], [CreatedAt], [CreatorId], [EditedAt], [EditorId]) VALUES (N'dcfa80c2-302c-411d-a053-dc9a72dec62a', N'6cc9fe64-d424-4c1c-b57f-932b9ee7b582', N'reddit.com', N'oaksoe2151@gmail.com', N'QRN4UV0D5MqyAKvMWchZSg==:BAa6Ou6ICvgaQwBgk86VIQ==', N'lol', CAST(N'2026-04-19T05:33:47.9868438' AS DateTime2), N'3c485703-9014-4f42-b195-08de9dcd90cd', NULL, NULL)
GO
INSERT [dbo].[WebCredentialsHistorys] ([WebCredentialHistoryId], [WebCredentialId], [Url], [Username], [PasswordHash], [Notes], [ChangedByUserId], [ChangedAt], [ChangeType]) VALUES (N'80721df6-9c5c-4faf-a061-02ccbdb812e2', N'a606bdae-aebb-4a82-85c7-f6f856d8139e', N'honsit.com', N'hensink215@gmail.com', N'MokepOnh49Q5TUKm0ZDnsA==:AdZUFglWaOh3+COLw03sEA==', N'sports and modeling', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', CAST(N'2026-04-19T05:03:38.0189502' AS DateTime2), N'Update')
INSERT [dbo].[WebCredentialsHistorys] ([WebCredentialHistoryId], [WebCredentialId], [Url], [Username], [PasswordHash], [Notes], [ChangedByUserId], [ChangedAt], [ChangeType]) VALUES (N'8cd0e0f5-9448-4e06-80b6-0d7b2cf73aa6', N'3e3b5a2c-62f5-4308-ad90-352aba704620', N'honsit.com', N'hensink215@gmail.com', N'icVtryxZc2SLgDJxqlhMGA==:2v5ruDu7gJ5nUkBqs3OAVw==', N'project', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', CAST(N'2026-04-17T04:09:56.7335462' AS DateTime2), N'Update')
INSERT [dbo].[WebCredentialsHistorys] ([WebCredentialHistoryId], [WebCredentialId], [Url], [Username], [PasswordHash], [Notes], [ChangedByUserId], [ChangedAt], [ChangeType]) VALUES (N'4eb391cf-c1e5-4f35-be79-60bf3f53ec19', N'3e3b5a2c-62f5-4308-ad90-352aba704620', N'honsit.com', N'hensink215@gmail.com', N'icVtryxZc2SLgDJxqlhMGA==:2v5ruDu7gJ5nUkBqs3OAVw==', N'project gege', N'fa2a2cc2-6a3b-4536-0b8e-08de9c2a6bd5', CAST(N'2026-04-19T06:20:44.6424171' AS DateTime2), N'Update')
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CredentialAccesses_CredentialId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CredentialAccesses_CredentialId] ON [dbo].[CredentialAccesses]
(
	[CredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CredentialAccesses_SharedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CredentialAccesses_SharedByUserId] ON [dbo].[CredentialAccesses]
(
	[SharedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CredentialAccesses_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CredentialAccesses_UserId] ON [dbo].[CredentialAccesses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Credentials_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Credentials_UserId] ON [dbo].[Credentials]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditCards_CreatorId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditCards_CreatorId] ON [dbo].[CreditCards]
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditCards_CredentialId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditCards_CredentialId] ON [dbo].[CreditCards]
(
	[CredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditCards_EditorId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditCards_EditorId] ON [dbo].[CreditCards]
(
	[EditorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditCardsHistorys_ChangedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditCardsHistorys_ChangedByUserId] ON [dbo].[CreditCardsHistorys]
(
	[ChangedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditCardsHistorys_CreditDebitId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditCardsHistorys_CreditDebitId] ON [dbo].[CreditCardsHistorys]
(
	[CreditDebitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditDebitCardAccesses_CreditDebitId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditDebitCardAccesses_CreditDebitId] ON [dbo].[CreditDebitCardAccesses]
(
	[CreditDebitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditDebitCardAccesses_SharedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditDebitCardAccesses_SharedByUserId] ON [dbo].[CreditDebitCardAccesses]
(
	[SharedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreditDebitCardAccesses_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreditDebitCardAccesses_UserId] ON [dbo].[CreditDebitCardAccesses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeyAccesses_SecurityKeyId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeyAccesses_SecurityKeyId] ON [dbo].[SecurityKeyAccesses]
(
	[SecurityKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeyAccesses_SharedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeyAccesses_SharedByUserId] ON [dbo].[SecurityKeyAccesses]
(
	[SharedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeyAccesses_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeyAccesses_UserId] ON [dbo].[SecurityKeyAccesses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeys_CreatorId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeys_CreatorId] ON [dbo].[SecurityKeys]
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeys_CredentialId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeys_CredentialId] ON [dbo].[SecurityKeys]
(
	[CredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeys_EditorId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeys_EditorId] ON [dbo].[SecurityKeys]
(
	[EditorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeysHistorys_ChangedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeysHistorys_ChangedByUserId] ON [dbo].[SecurityKeysHistorys]
(
	[ChangedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityKeysHistorys_SecurityKeyId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityKeysHistorys_SecurityKeyId] ON [dbo].[SecurityKeysHistorys]
(
	[SecurityKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentialAccesses_SharedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentialAccesses_SharedByUserId] ON [dbo].[WebCredentialAccesses]
(
	[SharedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentialAccesses_UserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentialAccesses_UserId] ON [dbo].[WebCredentialAccesses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentialAccesses_WebCredentialId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentialAccesses_WebCredentialId] ON [dbo].[WebCredentialAccesses]
(
	[WebCredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentials_CreatorId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentials_CreatorId] ON [dbo].[WebCredentials]
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentials_CredentialId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentials_CredentialId] ON [dbo].[WebCredentials]
(
	[CredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentials_EditorId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentials_EditorId] ON [dbo].[WebCredentials]
(
	[EditorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentialsHistorys_ChangedByUserId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentialsHistorys_ChangedByUserId] ON [dbo].[WebCredentialsHistorys]
(
	[ChangedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebCredentialsHistorys_WebCredentialId]    Script Date: 4/18/2026 11:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebCredentialsHistorys_WebCredentialId] ON [dbo].[WebCredentialsHistorys]
(
	[WebCredentialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CredentialAccesses]  WITH CHECK ADD  CONSTRAINT [FK_CredentialAccesses_AspNetUsers_SharedByUserId] FOREIGN KEY([SharedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CredentialAccesses] CHECK CONSTRAINT [FK_CredentialAccesses_AspNetUsers_SharedByUserId]
GO
ALTER TABLE [dbo].[CredentialAccesses]  WITH CHECK ADD  CONSTRAINT [FK_CredentialAccesses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CredentialAccesses] CHECK CONSTRAINT [FK_CredentialAccesses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CredentialAccesses]  WITH CHECK ADD  CONSTRAINT [FK_CredentialAccesses_Credentials_CredentialId] FOREIGN KEY([CredentialId])
REFERENCES [dbo].[Credentials] ([CredentialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CredentialAccesses] CHECK CONSTRAINT [FK_CredentialAccesses_Credentials_CredentialId]
GO
ALTER TABLE [dbo].[Credentials]  WITH CHECK ADD  CONSTRAINT [FK_Credentials_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Credentials] CHECK CONSTRAINT [FK_Credentials_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CreditCards]  WITH CHECK ADD  CONSTRAINT [FK_CreditCards_AspNetUsers_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CreditCards] CHECK CONSTRAINT [FK_CreditCards_AspNetUsers_CreatorId]
GO
ALTER TABLE [dbo].[CreditCards]  WITH CHECK ADD  CONSTRAINT [FK_CreditCards_AspNetUsers_EditorId] FOREIGN KEY([EditorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CreditCards] CHECK CONSTRAINT [FK_CreditCards_AspNetUsers_EditorId]
GO
ALTER TABLE [dbo].[CreditCards]  WITH CHECK ADD  CONSTRAINT [FK_CreditCards_Credentials_CredentialId] FOREIGN KEY([CredentialId])
REFERENCES [dbo].[Credentials] ([CredentialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreditCards] CHECK CONSTRAINT [FK_CreditCards_Credentials_CredentialId]
GO
ALTER TABLE [dbo].[CreditCardsHistorys]  WITH CHECK ADD  CONSTRAINT [FK_CreditCardsHistorys_AspNetUsers_ChangedByUserId] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CreditCardsHistorys] CHECK CONSTRAINT [FK_CreditCardsHistorys_AspNetUsers_ChangedByUserId]
GO
ALTER TABLE [dbo].[CreditCardsHistorys]  WITH CHECK ADD  CONSTRAINT [FK_CreditCardsHistorys_CreditCards_CreditDebitId] FOREIGN KEY([CreditDebitId])
REFERENCES [dbo].[CreditCards] ([CreditDebitId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreditCardsHistorys] CHECK CONSTRAINT [FK_CreditCardsHistorys_CreditCards_CreditDebitId]
GO
ALTER TABLE [dbo].[CreditDebitCardAccesses]  WITH CHECK ADD  CONSTRAINT [FK_CreditDebitCardAccesses_AspNetUsers_SharedByUserId] FOREIGN KEY([SharedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CreditDebitCardAccesses] CHECK CONSTRAINT [FK_CreditDebitCardAccesses_AspNetUsers_SharedByUserId]
GO
ALTER TABLE [dbo].[CreditDebitCardAccesses]  WITH CHECK ADD  CONSTRAINT [FK_CreditDebitCardAccesses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CreditDebitCardAccesses] CHECK CONSTRAINT [FK_CreditDebitCardAccesses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CreditDebitCardAccesses]  WITH CHECK ADD  CONSTRAINT [FK_CreditDebitCardAccesses_CreditCards_CreditDebitId] FOREIGN KEY([CreditDebitId])
REFERENCES [dbo].[CreditCards] ([CreditDebitId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreditDebitCardAccesses] CHECK CONSTRAINT [FK_CreditDebitCardAccesses_CreditCards_CreditDebitId]
GO
ALTER TABLE [dbo].[SecurityKeyAccesses]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeyAccesses_AspNetUsers_SharedByUserId] FOREIGN KEY([SharedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SecurityKeyAccesses] CHECK CONSTRAINT [FK_SecurityKeyAccesses_AspNetUsers_SharedByUserId]
GO
ALTER TABLE [dbo].[SecurityKeyAccesses]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeyAccesses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SecurityKeyAccesses] CHECK CONSTRAINT [FK_SecurityKeyAccesses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SecurityKeyAccesses]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeyAccesses_SecurityKeys_SecurityKeyId] FOREIGN KEY([SecurityKeyId])
REFERENCES [dbo].[SecurityKeys] ([SecurityKeyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecurityKeyAccesses] CHECK CONSTRAINT [FK_SecurityKeyAccesses_SecurityKeys_SecurityKeyId]
GO
ALTER TABLE [dbo].[SecurityKeys]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeys_AspNetUsers_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SecurityKeys] CHECK CONSTRAINT [FK_SecurityKeys_AspNetUsers_CreatorId]
GO
ALTER TABLE [dbo].[SecurityKeys]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeys_AspNetUsers_EditorId] FOREIGN KEY([EditorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SecurityKeys] CHECK CONSTRAINT [FK_SecurityKeys_AspNetUsers_EditorId]
GO
ALTER TABLE [dbo].[SecurityKeys]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeys_Credentials_CredentialId] FOREIGN KEY([CredentialId])
REFERENCES [dbo].[Credentials] ([CredentialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecurityKeys] CHECK CONSTRAINT [FK_SecurityKeys_Credentials_CredentialId]
GO
ALTER TABLE [dbo].[SecurityKeysHistorys]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeysHistorys_AspNetUsers_ChangedByUserId] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SecurityKeysHistorys] CHECK CONSTRAINT [FK_SecurityKeysHistorys_AspNetUsers_ChangedByUserId]
GO
ALTER TABLE [dbo].[SecurityKeysHistorys]  WITH CHECK ADD  CONSTRAINT [FK_SecurityKeysHistorys_SecurityKeys_SecurityKeyId] FOREIGN KEY([SecurityKeyId])
REFERENCES [dbo].[SecurityKeys] ([SecurityKeyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecurityKeysHistorys] CHECK CONSTRAINT [FK_SecurityKeysHistorys_SecurityKeys_SecurityKeyId]
GO
ALTER TABLE [dbo].[WebCredentialAccesses]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentialAccesses_AspNetUsers_SharedByUserId] FOREIGN KEY([SharedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WebCredentialAccesses] CHECK CONSTRAINT [FK_WebCredentialAccesses_AspNetUsers_SharedByUserId]
GO
ALTER TABLE [dbo].[WebCredentialAccesses]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentialAccesses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WebCredentialAccesses] CHECK CONSTRAINT [FK_WebCredentialAccesses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[WebCredentialAccesses]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentialAccesses_WebCredentials_WebCredentialId] FOREIGN KEY([WebCredentialId])
REFERENCES [dbo].[WebCredentials] ([WebCredentialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebCredentialAccesses] CHECK CONSTRAINT [FK_WebCredentialAccesses_WebCredentials_WebCredentialId]
GO
ALTER TABLE [dbo].[WebCredentials]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentials_AspNetUsers_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WebCredentials] CHECK CONSTRAINT [FK_WebCredentials_AspNetUsers_CreatorId]
GO
ALTER TABLE [dbo].[WebCredentials]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentials_AspNetUsers_EditorId] FOREIGN KEY([EditorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WebCredentials] CHECK CONSTRAINT [FK_WebCredentials_AspNetUsers_EditorId]
GO
ALTER TABLE [dbo].[WebCredentials]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentials_Credentials_CredentialId] FOREIGN KEY([CredentialId])
REFERENCES [dbo].[Credentials] ([CredentialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebCredentials] CHECK CONSTRAINT [FK_WebCredentials_Credentials_CredentialId]
GO
ALTER TABLE [dbo].[WebCredentialsHistorys]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentialsHistorys_AspNetUsers_ChangedByUserId] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[WebCredentialsHistorys] CHECK CONSTRAINT [FK_WebCredentialsHistorys_AspNetUsers_ChangedByUserId]
GO
ALTER TABLE [dbo].[WebCredentialsHistorys]  WITH CHECK ADD  CONSTRAINT [FK_WebCredentialsHistorys_WebCredentials_WebCredentialId] FOREIGN KEY([WebCredentialId])
REFERENCES [dbo].[WebCredentials] ([WebCredentialId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebCredentialsHistorys] CHECK CONSTRAINT [FK_WebCredentialsHistorys_WebCredentials_WebCredentialId]
GO
USE [master]
GO
